*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizelegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-family:'Roboto', sans-serif;
}

:root {
    /* colors */
    --white: #fff;

    --pink-100: #FFF0F6;
    --pink-500: #D6336C;
    --pink-700: #A61E4D;
    --pink-900: #1F000B;

/* tools */
    --rounded-m: 6px;
    --rounded-full: 9999px;
} 

.dark-mode:root {
    /* colors */
    --white: #fff;

    --pink-100: #1F000B;
    --pink-500: #A61E4D;
    --pink-700: #D6336C;
    --pink-900: #FFF0F6;


}

.dark-mode:root{
    color: var(--white);
}

html {
    height: 100%;
}
body {
    background-color: var(--pink-100);
    color: var(--white);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 100%;
    max-width: 300px; 

}

.header h1 {
    margin-top: 14px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
    color: var(--pink-900);
}

.header p{
    font-family: "Roboto mono";
    color: var(--pink-900);
    opacity: 0.7;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.avatar {
  
    width: 108px;
    height: 108px;
    background-color: transparent;
    border-radius: var(--rounded-full);
    border:4px solid var(--pink-500);
    padding: 4px;
    user-select: none; 
    pointer-events: none;  
}

.avatar img {
   
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.wrapper-buttons {
    width: 100%;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}
.btn {
    all: unset;
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    width: 100%;
    max-width: 300px;
    height: 53px;
    background-color: var(--pink-500);
    border-radius: var(--rounded-m);
    line-height: 150%;
    font-size: 14px;

    text-align: center;
    font-weight: 500;
    cursor: pointer;
    color: var(--white);
    text-transform: uppercase;
    padding: 16px;

    transition: background-color 0.3s ease-in-out;
    
}

.btn:hover { 
    background-color: var(--pink-700);
}

i {
    font-size: 18px;
    padding: 5px;
}
.copy i {
    font-size: 12px;
    color: red;
}
.copy a {
    all: unset;
    cursor: pointer;
    text-decoration: none;
}

.copy {
    font-weight: 500;
    font-size: 12px ;
    text-align: center;
    color: var(--pink-900);

}
label {
    color: var(--pink-900);
    font-size: 12px;
}

.darki {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: var(--pink-900);
    cursor: pointer;
   
}
